{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb/base"],
  "rules": {
    "max-len": ["error", 80, {"ignoreUrls": true}], 
    "no-plusplus": "off",
    "semi": "off",
    "no-alert": "off",
    "no-else-return": "off",
    "no-restricted-syntax": "off",
    "no-unreachable-loop": "off",
    "consistent-return": "off",
    "no-console": "off",
    "eol-last": "off",
    "prefer-arrow-callback": "off",
    "no-unused-expressions": "off",
    "no-confusing-arrow": "off",
    "linebreak-style": "off",
    "no-trailing-spaces": "off",
    "prefer-template": "off",
    "space-in-parens": "off",
    "padded-blocks": "off",
    "array-callback-return": "off",
    "no-param-reassign": "off",
    "operator-assignment": "off",
    "no-unused-vars": "off",
    "comma-dangle": ["error", "never"],
    "no-use-before-define": "off",
    "no-multiple-empty-lines": "off",
    "quotes": ["error", "single", {
      "allowTemplateLiterals": true
    }],
    "arrow-body-style": ["error", "as-needed", {
      "requireReturnForObjectLiteral": false
    }]
  }
}